@import '../../vars.css';

.skill{
    padding: 50px;
    width: 100%;
    height:auto;
    background-color: var(--color-secondary);
}

.judul{
    font-size: 60px;
    color: var(--color-light);
    /* margin-top: 50px; */
}
.cardlist{
    display: flex;
}

.card{
    background-color: var(--color-primary);
    margin: 50px;
    width: 300px;
    height: 200px;
    border-radius: 30px;
}

.namaport{
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    color: var(--color-dark);
}

.tombolwebsite{
    background-color: var(--color-light);
    text-align: center;
    justify-items: center;
    font-weight: bolder;
    width: 200px;
    padding: 10px 0px;
    margin: 50px;
    border-radius: 20px;
    
}
.tombolwebsite{
    text-decoration: none;
    color: var(--color-dark);
}

.tombolgithub{
    background-color: var(--color-light);
    text-align: center;
    justify-items: center;
    font-weight: bolder;
    width: 200px;
    padding: 10px 0px;
    margin: 50px;
    border-radius: 20px;
    
}

.tombolgithub a{
    text-decoration: none;
    color: var(--color-dark);
}